* {
    box-sizing: border-box;
}

body {
    background-image: url(../image/quizz1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    height: 100vh;
    padding: 0;
}

/* Partie Connexion */

.zone-connexion {
    width: 75%;
    height: 75%;
    background: rgba(196, 196, 196, 0.8);
    box-shadow: 15px 15px 4px rgba(0, 0, 0, 0.7);
    border-radius: 30px 0px 30px 0px;
}
.zone-texte {
    width: 50%;
    height: 100%;
}
.zone-texte .le_plaisir_de_jouer {
    margin-bottom: 25%;
    text-align: center;
    font-family: Kurale;
    font-size: 50px;
}
.zone-texte .bienvenu {
    margin-bottom: 5%;
    text-align: center;
    font-family: Oswald;
    font-size: 25px;
}
.zone-texte .inscription {
    font-family: Oswald;
    text-align: center;
    font-size: 25px;
}
.zone-texte .inscription a {
    font-family: Kurale;
    color: #A44545;
    text-decoration: underline;
}

.zone-connexion .zone-form {
}
.zone-connexion .zone-form .form {
    float: left;
    min-height: 200px;
    margin-left: 30px;
}
.zone-connexion .zone-form .form .form-control {
    position: relative;
    border: 0;
    background: transparent;
    width: 420px;
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.zone-connexion .zone-form .form .form-control .iconify {
    width: 15%;
    height: 45px;
}
.zone-connexion .zone-form .form .form-control input {
    border-radius: 40px;
    height: 40px;
    width: 80%;
    border: 3px solid #E9E9E9;
    background: #E9E9E9;
    box-shadow: 6px 7px 4px #000000;
    padding-left: 15px;
    color: #6C6C70;
    font-family: Kurale;
}
.zone-connexion .zone-form .form .form-control input:focus {
    border-color: #E9E9E9;
}
.zone-connexion .zone-form .form .form-control.success input{
    border-color: #2ecc71;
}
.zone-connexion .zone-form .form .form-control.error input{
    border-color: #e74c3c;
}
.zone-connexion .zone-form .form .form-control small {
    padding-top: 10px;
    padding-left: 80px;
    height: 30px;
    position: absolute;
    bottom: 0;
    top: 50px;
    display: block;
    color: #e74c3c;
    visibility: hidden;
}
.zone-connexion .zone-form .form .form-control.error small {
    visibility: visible;
}
.zone-connexion .zone-form .form .connect {
    cursor: pointer;
    margin-left: 30%;
    margin-top: 10px;
    border: 0;
    font-family: Kurale;
    color: #ffffff;
    font-size: 20px;
    background: #A44545;
    border-radius: 30px 0px;
    width: 40%;
    height: 60px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.7);
}

/* Partie inscription */

.avatar {
    width: 30%;
    height: 150px;
    border-radius: 50%;
    margin-left: 29%;
    border: 3px solid #A44545;
    margin-bottom: 2%;
    margin-top: 2%;
}
.form-inscription {
    width: 100%;
}
.form-controller {
    position: relative;
    border: 0;
    height: 60px;
    width: 450px;
    margin-left: 25px;
}
.form-controller input {
    border-radius: 40px;
    height: 30px;
    width: 80%;
    border: 3px solid #E9E9E9;
    background: #E9E9E9;
    box-shadow: 6px 7px 4px #000000;
    padding-left: 15px;
    color: #6C6C70;
    font-family: Kurale;
}
.form-controller input:focus {
    border-color: #E9E9E9;
}
.form-controller.error input{
    border-color: #e74c3c;
}
.form-controller small {
    display: block;
    position: absolute;
    padding: 10px;
    top: 28px;
    bottom: 0px;
    color: #e74c3c;
    visibility: hidden;
}
.form-controller.error small {
    visibility: visible;
}
.creer {
    width: 100%;
    height: 70px;
}
.fichier {
    float: left;
    width: 150px;
    height: 40px;
    margin-left: 30px;
    margin-top: 2%;
    background: #A44545;
    border-radius: 20px 0px;
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.7);
}
.label-file {
    float: left;
    width: 98%;
    padding-top: 8px;
    padding-left: 11px;
    height: 100%;
    font-size: 17px;
    color: #ffffff;
}
.choisir {
    display: none;
}
.creer button {
    float: right;
    width: 150px;
    height: 40px;
    margin-right: 90px;
    margin-top: 2%;
    border: 0;
    color: #ffffff;
    font-size: 17px;
    border-radius: 20px 0px;
    background: #A44545;
    box-shadow: 6px 8px 4px rgba(0, 0, 0, 0.7);
}
