#cadre {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* La partie du haut de la page connexion*/

.tete {
    width: 100%;
    height: 10%;
    background: #090625;
}
.logo {
    float: left;
    width: 7%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
.tete .texte {
    float: left;
    width: 30%;
    height: 60%;
    margin-left: 28%;
    margin-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    font-size: 55px;
}

 /* la partie contenant l'image de fond */

.fond {
    width: 100%;
    height: 90%;
    background-image: url(Images/img-bg.jpg);
    background-size: cover;
}

/* La partie de la fenetre de connexion */

.fond .connexion {
    float: left;
    width: 50%;
    height: 89%;
    background: #ffffff;
    margin-left: 25%;
    margin-top: 2.5%;
    border-radius: 5px;
}
.fond .connexion .form {
    width: 100%;
    height: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #45b4d6;
}
.fond .connexion .form .text {
    float: left;
    width: 20%;
    height: 40%;
    margin-left: 3%;
    margin-top: 4%;
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}
.fond .connexion form {
    width: 100%;
    height: 80%;
}

/* partie concernant les champs de saisie et les icones */

.log {
    float: left;
    width: 90%;
    height: 25%;
    background: #eeeeee;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
}
.login {
    float: left;
    width: 80%;
    height: 100%;
    margin-left: 5%;
}
.login input {
    width: 100%;
    height: 97%;
    font-size: 28px;
    border: 0px;
    background: #eeeeee;
    color: #949494;
}
.icone {
    float: left;
    width: 8%;
    height: 50%;
    margin-left: 3.5%;
    margin-top: 3.5%;
}
.icone img {
    width: 100%;
    height: 100%;
}
span {
    float: left;
    width: 90%;
    height: 5%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    font-size: 25px;
    color: #b40000;
}
/* partie concernant le bouton connxeion et le lien d'iscription */
.fond .connexion form button {
    float: left;
    width: 20%;
    height: 15%;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 7px;
    border: 0px;
    background: #45b4d6;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.fond .connexion form .inscription {
    float: left;
    width: 32.5%;
    height: 8%;
    margin-left: 5%;
    margin-top: 3.5%;
}
.fond .connexion form .inscription a {
    text-decoration: none;
    font-size: 28px;
    color: #949494;
}

/* partie insciption */

/* partie des contours */

.fond .fond1 {
    float: left;
    width: 80%;
    height: 99%;
    margin-left: 10%;
    border-radius: 15px;
    background: #ffffff;
    border: 3px solid #cacaca;
}
.fond2 {
    float: left;
    width: 100%;
    height: 99%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 3px solid;
    border-bottom-color: #cacaca;
}
.fond3 {
    float: left;
    width: 100%;
    height: 98.9%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 3px solid;
    border-bottom-color: #cacaca;
}
.fond4 {
    float: left;
    width: 100%;
    height: 98.7%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid;
    border-bottom-color: #cacaca;
}

/* partie du formulaire */

.formulaire {
    float: left;
    width: 60%;
    height: 99%;
    font-family: Arial, Helvetica, sans-serif;
}
.inscrit {
    float: left;
    width: 90%;
    height: 6%;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 35px;
    font-weight: bold;
}
.petit {
    float: left;
    width: 90%;
    height: 3%;
    margin-top: 1.5%;
    margin-left: 5%;
    color: #949494;
}
form {
    float: left;
    width: 100%;
    height: 82%;
    margin-top: 2%;
    border-top: 3px solid #949494;
}
.label {    
float: left;
    width: 80%;
    height: 4%;
    margin-left: 5.5%;
    color: #949494;
}
.champ {
    float: left;
    width: 80%;
    height: 10%;
    margin-left: 5%;
    margin-top: 0.5%;
    border-radius: 5px;
    border: 3px solid #949494;
}
.champs {
    float: left;
    width: 80%;
    height: 10%;
    margin-left: 5%;
    margin-top: 0.5%;
    border-radius: 5px;
    border: 3px solid #45b4d6;
}
input {
    float: left;
    width: 95%;
    height: 95%;
    margin-left: 2%;
    border: 0px;
    font-size: 25px;
    color: #949494;
}

/* partie du texte avatar créer un compte et choisir un fichier */

.texteavatar {
    float: left;
    width: 17%;
    height: 5%;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 20px;
}
.fichier {
    float: right;
    width: 25%;
    height: 7%;
    margin-right: 14.5%;
    margin-top: 1%;
    background: #45b4d6;
    border-radius: 5px;
}
.label-file {
    float: left;
    width: 98%;
    height: 30%;
    margin-left: 5%;
    margin-top: 3.5%;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}
.choisir {
    display: none;
}
button {
    float: left;
    width: 20%;
    height: 50px;
    margin-left: 15%;
    margin-top: 7.5%;
    background: #45b4d6;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    border-radius: 5px;
}

/* La partie contenant l'image de l'avatar et le texte en dessous */

.avatar {
    float: left;
    width: 26%;
    height: 46%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 50%;
    border: 5px solid #45b4d6;
}
.joueur {
    float: left;
    width: 14%;
    height: 5%;
    margin-top: 0.5%;
    margin-left: 11.5%;
    font-size: 25px;
}

/* Partie admin et joueur */

.cadre {
    float: left;
    width: 98%;
    height: 98%;
    background: #c4c4c4;
    margin-left: 1%;
    margin-top: 0.5%;
    border-radius: 3px;
}

/* La partie concernant l'image de l'avatar et le texte de bienvenu */
.entete {
    float: left;
    width: 100%;
    height: 20%;
    background: #45b4d6;
}
.imgnom {
    float: left;
    width: 8%;
    height: 100%;
}
.image {
    float: left;
    width: 80%;
    height: 70%;
    border-radius: 70%;
    border: 4px solid #ffffff;
    margin-left: 7%;
    margin-top: 5%;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
}
.nom {
    float: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.textee {
    float: left;
    width: 77.5%;
    height: 100%;
    margin-left: 1%;
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    line-height: 55px;
    color: #ffffff;
}
button {
    float: left;
    width: 11%;
    height: 40%;
    margin-left: 0.5%;
    margin-top: 2.5%;
    border-radius: 10px;
    background: #1b81b1;
    color: #ffffff;
}

/* Partie concernant les questions et le tableau de scores */

.corps {
    float: left;
    width: 99%;
    height: 79.5%;
    background: #ffffff;
    margin-left: 0.5%;
    margin-top: 0.5%;
    border-radius: 8px;
}

/* Partie concernant les questions */

.question {
    float: left;
    width: 67%;
    height: 95%;
    margin-left: 1%;
    margin-top: 0.8%;
    border-radius: 4%;
    border: 3px solid #45b4d6;
}